main {
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 1rem;
}

#relBtn {
    margin-top: 1rem;
}

.shortcutTF {
    margin-right: 0.5rem;
}

.liBtns {
    float: right;
}

.liBtns .btn {
    margin-left: 1rem;
}

toolbar {
    position: absolute;
    bottom: 1rem;
}

@media screen and (max-width:780px) {
    main {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}